<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="css/sortTable.css" rel="stylesheet"/>

    <title>Movie Rental</title>
    <script type="text/javascript">
        jQuery(document).ready(function(){

        var headersToFieldsMapping = {"headerTitle" : "title"
                                      ,"headerDescription" : "description"
                                      ,"headerReleaseYear" : "releaseYear"
                                      ,"headerLength" : "length"};

        setUpHiddenPageInput = function (value){
             $('form :input[type="hidden"][name="page"]').val(value);
        };

        (function(){
            var pager = $('#pager li.active')
            setUpHiddenPageInput(pager.attr('value'));
        })();

        $('#pager li').not('.disabled').click(function(event){
            var pager = $(this);

            setUpHiddenPageInput(pager.attr('value'));
             $('form').submit();
         });

        $('#moviesTable thead th').click(function(event){

            var header = $(this);

            var hiddenSortByInput = $('form :input[type="hidden"][name="sortBy"]');
            hiddenSortByInput.val(headersToFieldsMapping[header.attr("id")]);



            var hiddenDirectionInput = $('form :input[type="hidden"][name="direction"]');

            if(header.hasClass("ASC")){
                hiddenDirectionInput.val('DESC');
            }else{
                hiddenDirectionInput.val('ASC');
            }

            setUpHiddenPageInput($('#pager li.active').attr('value'));
             $('form').submit();
            });
        });

    </script>
</head>
<body>
<div class="row search-page" layout:fragment="page-content">

  <div class="container">
      <div class="page-header">
          <h2>Movies list</h2>
      </div>
  </div>

    <form class="form-horizontal" role="search" th:action="@{/search}" th:object="${searchFilmForm}" method="post">

        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Movie title</label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{title}" id="title"
                       type="text"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="releaseYearFrom">Released from</label>
            <div class="col-sm-1">
                <input class="form-control" th:field="*{releaseYearFrom}" id="releaseYearFrom" type="number"/>
            </div>

            <label class="control-label col-sm-2" for="releaseYearTo">Released to</label>
            <div class="col-sm-1">
                <input class="form-control" th:field="*{releaseYearTo}" id="releaseYearTo" type="number"/>
            </div>

            <label class="control-label col-sm-2" for="lengthFrom">Length min</label>
            <div class="col-sm-1">
                <input class="form-control" th:field="*{lengthFrom}" id="lengthFrom" type="number"/>
            </div>

            <label class="control-label col-sm-2" for="lengthTo">Length max</label>
            <div class="col-sm-1">
                <input class="form-control" th:field="*{lengthTo}" id="lengthTo" type="number"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="language">Select language</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{language}" id="language">
                    <option th:value="-1">- Any -</option>
                    <option th:each="lang : ${allLanguages}"
                            th:value="${lang.id}"
                            th:text="${lang.name}">Language
                    </option>

                </select>
            </div>

            <label class="control-label col-sm-2" for="category">Select category</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{category}" id="category">
                    <option th:value="-1">- Any -</option>
                    <option th:each="cat : ${allCategories}"
                            th:value="${cat.id}"
                            th:text="${cat.name}">Category
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="actorName">Actor name</label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{actorName}" id="actorName"
                       type="text"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit" name="save">Search</button>
            </div>
        </div>
        <input name="page" type="hidden" value="1"/>
        <input name="sortBy" type="hidden" th:value="${sortBy}"/>
        <input name="direction" type="hidden" th:value="${direction}"/>
    </form>

    <div class="container">
        <ul id="pager" class="pagination pagination-lg">
            <li th:class="${filmsPageHolder.pager.first} ? 'disabled' : ''"
                th:value="${filmsPageHolder.pager.currentPage - 1}">
                <span>&laquo;</span>
            </li>

            <li th:class="${filmsPageHolder.pager.currentPage == item} ? 'active' : ''"
                th:each="item : ${#numbers.sequence( filmsPageHolder.pager.start, filmsPageHolder.pager.end)}"
                th:value="${item}">
                <span th:text="${item + 1}">1</span>
            </li>

            <li th:class="${filmsPageHolder.pager.last} ? 'disabled' : ''"
                th:value="${filmsPageHolder.pager.currentPage + 1}">
                <span>&raquo;</span>
            </li>
        </ul>

        <table id="moviesTable" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th id="headerTitle" th:class="${sortBy == 'title'} ? 'header ' + ${direction}  : 'header'" class="header">Title</th>
                    <th id="headerDescription" th:class="${sortBy == 'description'} ? 'header ' + ${direction}  : 'header'" class="header">Description</th>
                    <th id="headerReleaseYear" th:class="${sortBy == 'releaseYear'} ? 'header ' + ${direction}  : 'header'" class="header">Release Year</th>
                    <th id="headerLength" th:class="${sortBy == 'length'} ? 'header ' + ${direction}  : 'header'" class="header">Length</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="film : ${filmsPageHolder.items}">

                    <td>
                        <a th:href="@{/details(id=${film.id})}">
                            <h4 th:text="${film.title}">Title</h4>
                        </a>

                    </td>

                    <td  th:text="${film.description}">Description</td>
                    <td  th:text="|${film.releaseYear}|">Release Year</td>
                    <td  th:text="|${film.length}|">Length</td>
                    <td  th:text="|#{'movie.rating.' + ${film.rating}}|">Rating</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>

